    config_secret_ini.read(script_dir.joinpath('conf').joinpath('config_secret.ini'), encoding='utf-8')
    self.slack_webhook_url = config_secret_ini.get('DEFAULT','slack_webhook_url')
    self.line_token = config_secret_ini.get('DEFAULT','line_token')
    self.local_mta_from_addr = config_secret_ini.get('DEFAULT','local_mta_from_addr')
    self.local_mta_to_addr = config_secret_ini.get('DEFAULT','local_mta_to_addr')
    self.gmail_from_addr = config_secret_ini.get('DEFAULT','gmail_from_addr')
    self.gmail_to_addr = config_secret_ini.get('DEFAULT','gmail_to_addr')
    self.gmail_id = config_secret_ini.get('DEFAULT','gmail_id')
    self.gmail_pw = config_secret_ini.get('DEFAULT','gmail_pw')