[DEFAULT]
# for notifier with slack(webhook)
slack_webhook_url = 
# for notifier with line
line_token = 
# for notifier with email(local)
email_from_local = 
email_to_local = 
# for notifier with email(gmail)
email_from_gmail = 
email_to_gmail = 
email_id_gmail = 
email_pw_gmail = 
# for notifier with email(external SMTP)
email_from_ext_smtp = 
email_to_ext_smtp = 
email_smtp_server_ext_smtp = 
email_smtp_server_port_ext_smtp = 
email_use_tls_ext_smtp = 
email_id_ext_smtp = 
email_pw_ext_smtp = 
# for CIFSOSCopier
cifs_domain_name = 
cifs_remote_cifs_dir = 
cifs_local_mount_dir = 
cifs_id = 
cifs_pw = 
cifs_copy_from = 
cifs_copy_to = 